h1 {
    font-family: 'Arial';
    text-align: center;
    color: rgb(42, 20, 168);
}
h2 {
    font-family: 'Arial';
    text-align: center;
    color: rgb(42, 20, 168);
}

h3 {
    font-family: 'Crimson Pro', serif;
    font-size: 40px;
}

 .s1 {
    background: url('../images/thinker4.jpg');
    background-size: cover;

    h1 {
        margin-left: 35em;
        color: rgb(85, 85, 88);
    }

    h2 {
        
        
        margin-left: 58em;
        margin-right: 7em;
        text-align: justify;
        color: rgb(85, 85, 88);
    }

    h3 {
        text-align: left; 
        margin-top: -20em;
        margin-left: 4em;
        color: rgb(85, 85, 88);
    }

    span {
        background: white
     }
 }


 .s2 {
    background: url('../images/thinker5.jpg');
    background-size: cover;

    h1 {
        margin-left: 35em;
        color: rgb(85, 85, 88);
    }

    h2 {
        
        
        margin-left: 58em;
        margin-right: 7em;
        text-align: justify;
        color: rgb(85, 85, 88);
    }

    h3 {
        text-align: left; 
        margin-top: -20em;
        margin-left: 4em;
        color: rgb(85, 85, 88);
    }
    span {
        background: white
     }
 }


 .s3 {
    background: url('../images/thinker6.jpg');
    background-size: cover;

    h1 {
        margin-left: 35em;
        color: rgb(85, 85, 88);
    }

    h2 {
        
        
        margin-left: 58em;
        margin-right: 7em;
        text-align: justify;
        color: rgb(85, 85, 88);
    }

    h3 {
        text-align: left; 
        margin-top: -20em;
        margin-left: 4em;
        color: rgb(85, 85, 88);
    }

   
 }

